<div class="user-list-container">
  <h1 class="text-2xl font-bold mb-4">Usuários</h1>

  <div class="flex flex-col md:flex-row gap-2 mb-6">
    <input
      z-input
      [ngModel]="search"
      (ngModelChange)="search = $event; currentPage.set(1)"
      zSize="default"
      placeholder="Pesquisar usuários..."
    />
    <z-button zType="default" (click)="addUser()">+ Novo Usuário</z-button>
  </div>

  <app-user-table
    [users]="pagedUsers()"
    (edit)="editUser($event)"
    (delete)="deleteUser($event)"
  ></app-user-table>

  <div class="flex justify-center mt-4">
    <app-user-pagination
      [totalPages]="totalPages()"
      [currentPage]="currentPage()"
      (pageChange)="currentPage.set($event)"
    ></app-user-pagination>
  </div>
</div>
