<html>

<head>
  <title>
    SYSOCIAL
  </title>
</head>

<body>
  <div>
    <h1 class="titulo">Cansado de sistemas complexos e planilhas sem fim?</h1>
    <br>
    <p>
      Nós entendemos a frustração de gerenciar cursos e alunos com ferramentas que mais atrapalham do que ajudam. Por
      isso, criamos uma solução pensada para ser o exato oposto: simples, direta e feita para pessoas.
    </p>
  </div>
  <br>
  <div class="letra">
    <z-accordion zDefaultValue="item-2">
      <z-accordion-item zValue="item-1" zTitle=" Quem somos ?">
        Somos um grupo de alunos da Univesidade Federal de São Paulo, cursando Bacharelado em Ciência e Tecnologia, e
        entusiatas por tecnologia e inovação.
      </z-accordion-item>

      <z-accordion-item zValue="Objetivo" zTitle="Objetivo" zDescription="Objetivo">
        Nosso objetivo com este projeto é desenvolver um CRUD simples, funcional e eficiente, que digitalize controles e
        crie históricos referents aos alunos inscritos, desistentes, cursando, cursos existentes e extintos, etc.
      </z-accordion-item>
    </z-accordion>
    <br>
  </div>
   <p class="centralizar">Todos os direitos reservados.</p>
</body>

</html>