.footer {
  background-color: #246A73; /* mesma cor do header */
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
}


body {
  margin-bottom: 60px; 
}
