<div class="header">
  <a href="#default" class="logo">SYSOCIAL</a>
  <div class="header-right">
   <z-breadcrumb>
      <z-breadcrumb-list zWrap="wrap" zAlign="start">
        <z-breadcrumb-item>
          <z-breadcrumb-link zLink="/sobre">
            <div class="icon-house"></div>
            Sobre
          </z-breadcrumb-link>
        </z-breadcrumb-item>
        <z-breadcrumb-separator />
        <z-breadcrumb-item>
          <z-breadcrumb-link zLink="/contato">
            <div class="icon-puzzle"></div>
            Contato
          </z-breadcrumb-link>
        </z-breadcrumb-item>
        <z-breadcrumb-separator />
        <z-breadcrumb-item>
          <z-breadcrumb-link zLink="/home">
            <div class="icon-square-library"></div>
            Home
          </z-breadcrumb-link>
        </z-breadcrumb-item>
      </z-breadcrumb-list>
    </z-breadcrumb>
  </div>
</div>