<div class="header bg-blue-600 text-white p-4">
  <a href="#default" class="logo font-bold text-xl text-yellow-300">SYSOCIAL</a>
  <div class="header-right">
    <z-breadcrumb class="text-gray-200">
      <z-breadcrumb-list zWrap="wrap" zAlign="start">
        <z-breadcrumb-item>
          <z-breadcrumb-link zLink="/sobre" class="text-[#F7F7F2] hover:text-[#C6EBBE]">
            <div class="icon-house"></div>
            Sobre
          </z-breadcrumb-link>
        </z-breadcrumb-item>
        <z-breadcrumb-separator />
        <z-breadcrumb-item>
          <z-breadcrumb-link zLink="/contato" class="text-[#F7F7F2] hover:text-[#C6EBBE]">
            <div class="icon-puzzle"></div>
            Contato
          </z-breadcrumb-link>
        </z-breadcrumb-item>
        <z-breadcrumb-separator />
        <z-breadcrumb-item>
          <z-breadcrumb-link zLink="/home" class="text-[#F7F7F2] hover:text-[#C6EBBE]">
            <div class="icon-square-library"></div>
            Home
          </z-breadcrumb-link>
        </z-breadcrumb-item>
      </z-breadcrumb-list>
    </z-breadcrumb>
  </div>
</div>
