<div class="header bg-blue-900 text-white px-6 py-4 flex items-center justify-between">
  <!-- Logo -->
  <a href="#default" class="logo font-bold text-2xl text-yellow-300">SYSOCIAL</a>

  <!-- Navegação usando zard -->
  <div class="header-right">
    <z-breadcrumb>
      <z-breadcrumb-list zWrap="wrap" zAlign="start" class="flex space-x-4">
        
        <!-- Sobre -->
        <z-breadcrumb-item>
          <z-breadcrumb-link 
            zLink="/sobre" 
            class="px-4 py-1 rounded-full text-[#F7F7F2]">
            Sobre
          </z-breadcrumb-link>
        </z-breadcrumb-item>

        <!-- Contato -->
        <z-breadcrumb-item>
          <z-breadcrumb-link 
            zLink="/contato" 
            class="px-4 py-1 rounded-full text-[#F7F7F2]">
            Contato
          </z-breadcrumb-link>
        </z-breadcrumb-item>

        <!-- Home -->
        <z-breadcrumb-item>
          <z-breadcrumb-link 
            zLink="/home" 
            class="px-4 py-1 rounded-full text-[#F7F7F2]">
            Home
          </z-breadcrumb-link>
        </z-breadcrumb-item>

        @if(!isLoggedIn()){
        <!-- Sign Up (destaque estilo template) -->
        <z-breadcrumb-item>
          <z-breadcrumb-link 
            zLink="/auth/login" 
            class="bg-white px-4 py-1 rounded-full text-blue-900 font-semibold hover:bg-gray-200 transition">
            Login
          </z-breadcrumb-link>
        </z-breadcrumb-item>
      }

        @if(isLoggedIn()){
         <!-- Sign Up (destaque estilo template) -->
        <z-breadcrumb-item>
          <z-breadcrumb-link 
            (click)="logout()"
            class="bg-white px-4 py-1 rounded-full text-blue-900 font-semibold hover:bg-gray-200 transition">
            Logout
          </z-breadcrumb-link>
        </z-breadcrumb-item>
      }

      </z-breadcrumb-list>
    </z-breadcrumb>
  </div>
</div>
